<h3>Select one team per game below.</h3>

<% form_for([@league_week, @league_picks]) do |f| %>
  <% @league_games.each do |league_game| %>
    <div>
      <%= f.radio_button :entry, league_game.visitor_team %> Home Team
      <%= f.radio_button :entry, league_game.home_team %>Away Team
    </div>
  <% end %>
  <%= f.submit %>
<% end %>
